*{
    padding: 0;
    margin: 0;
    list-style: none;
    color: black;
    text-decoration: none;
}
@font-face{
    font-family: 'title';
    src: url(fonts/Sketch\ Gothic\ School.ttf);
}
@font-face {
    font-family: 'FontPrinc';
    src: url(fonts/Stranger\ back\ in\ the\ Night.ttf);
}
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
}
#logo_bar{
    font-family: FontPrinc;
    font-size: 23pt;
    font-weight: normal;
    margin-left: 5rem;
    display: flex;
    align-items: center;
}
#logo{
    height: 80px;
}
#list_bar{
    width: 24rem;
    display: flex;
    margin-right: 4rem;
    font-family: FontPrinc;
    font-size: 30pt;
}
#list_bar li{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 1.5rem;
    transition: 2s linear;
}
#list_bar li :hover{
    font-size: 37pt;
}
article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 88vh;
}
#mini{
    position: absolute;
    left: 80px;
    bottom: 10px;
    height: 7%;
}
#box{
    z-index: 1;
    width: 30vw;
    height: 88vh;
}
#box_container{
    font-family: FontPrinc;
    font-size: 35pt;
    font-weight: normal;
    margin-top: 5vw;
    min-width: 30vw;
    width: 30vw;
    height: 30vh;
}

#box_container h1{
    font-family: title;
    font-size: 12vw;
    font-weight: normal;
}
#box_container p{
    width: 50vw;
}
#boxing{
    height: 88vh;
}
#kt{
    width: 55%;
    position: absolute;
    right: 1px;
    z-index: 0;
}
input{
    font-family: FontPrinc;
    font-size: 45pt;
    word-spacing: 5px;
    text-align: center;
    background: white;
    border: black solid 3px;
    border-radius: 10px;
    margin: 50px auto;
    height: 60px;
    width: 200px;
}